<#macro meta>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="Yet another link shortener">
<link rel="author" href="/humans.txt" />
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
</#macro>

<#macro css>
<!-- Bootstrap -->
<link href="/s/css/bs/bootstrap.min.css" rel="stylesheet">
<link href="/s/css/bs/bootstrap-theme.min.css" rel="stylesheet">
<link href="/s/css/front.css" rel="stylesheet">
</#macro>

<#macro donkey>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <!--suppress HtmlUnknownTarget -->
<script src="/s/js/ie/html5shiv.js"></script>
<script src="/s/js/ie/respond.min.js"></script>
<![endif]-->
</#macro>