<#macro jquery>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/s/js/jq/jquery_1.11.3.min.js"></script>
</#macro>

<#macro jquery_bootstrap>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/s/js/bs/bootstrap.min.js"></script>
</#macro>

<#macro request_js>
<!-- Request JS -->
<script src="/s/js/lib/request.js"></script>
</#macro>